<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <meta name="format-detection" content="telephone=no" />
  <meta name="format-detection" content="email=no">
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Cache-Control" content="no-cache" />
  <meta http-equiv="Expires" content="0" />
  <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">

  <title>三六九互娱</title>

  <script>
    //rem
    (function (doc, win) {
      var docEl = doc.documentElement,
        resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
        recalc = function () {
          var clientWidth = docEl.clientWidth;
          if (!clientWidth) return;
          if (clientWidth >= 750) {
            docEl.style.fontSize = '100px';
          } else {
            docEl.style.fontSize = 100 * (clientWidth / 750) + 'px';
          }
        };

      if (!doc.addEventListener) return;
      win.addEventListener(resizeEvt, recalc, false);
      doc.addEventListener('DOMContentLoaded', recalc, false);
    })(document, window);
  </script>
  <link rel="stylesheet" href="css/base.css">
  <link rel="stylesheet" href="css/agent.css?v=2018062201">
</head>

<body class="bgclo">
  <!--下级开始-->
  <div class="contWrap" id="app" v-cloak>

    <div class="headfix">
      <div class="ageHead">
        <div class="txtC">
          <span>我的下级</span>
        </div>
      </div>
    </div>
    <div class="topspc"></div>
    
    <div class="juniorTop" v-if="sign_id!=='4'" >
      <!-- <a v-if=" sign_id==='1' || sign_id==='2' " class="fl pending" href="juniorPending.html">待处理({{ pendCount }})</a> -->
      <!-- <a v-if=" sign_id==='1' || sign_id==='3' " class="fl pending" href="juniorRecommend.html">推荐历史</a> -->
      <a class="fr check" href="checkJunior.html?checkType=frozen">查看冻结账号 ></a>
      <a class="fr check" href="checkJunior.html?checkType=notActive">查看未激活账号 ></a>
    </div>

    <div class="junior-navtabs clearfix">
      <ul>
        <li v-if="sign_id==='1'" class="tabitem">
          <span class="tabnav" @click="checkJunior('a')" :class="{ tabnavCur: isActive === 'a' }" >
            金牌
            <em class="num" v-if="isActive === 'a'">({{allCount}})</em>
          </span>
        </li>
        <li v-if="sign_id==='1' || sign_id==='2'" class="tabitem">
          <span class="tabnav" @click="checkJunior('b')" :class="{ tabnavCur: isActive === 'b' }">
            银牌
            <em class="num" v-if="isActive === 'b'">({{allCount}})</em>
          </span>
        </li>
        <li v-if="sign_id==='1' || sign_id==='2' || sign_id==='3'" class="tabitem">
          <span class="tabnav" @click="checkJunior('c')" :class="{ tabnavCur: isActive === 'c' }">
            代理
            <em class="num" v-if="isActive === 'c'">({{allCount}})</em>
          </span>
        </li>
        <li class="tabitem">
          <span class="tabnav" @click="checkJunior('d')" :class="{ tabnavCur: isActive === 'd' }">
            用户
            <em class="num" v-if="isActive === 'd'">({{allCount}})</em>
          </span>
        </li>
        <li class="tabitem" v-if="sign_id==='3' ">
          <span class="tabnav" @click="checkJunior('e')" :class="{ tabnavCur: isActive === 'e' }">
            平推1
            <em class="num" v-if="isActive === 'e'">({{allCount}})</em>
          </span>
        </li>
        <li class="tabitem" v-if="sign_id==='3' ">
          <span class="tabnav" @click="checkJunior('f')" :class="{ tabnavCur: isActive === 'f' }">
            平推2
            <em class="num" v-if="isActive === 'f'">({{allCount}})</em>
          </span>
        </li>
      </ul>
    </div>
    
    
    <div class="junior-queryBox clearfix">
      <div class="searchBox">
        <i class="iconfont ico-search">&#xe697;</i>
        <input v-if=" isActive==='d' " class="ipt" type="text" placeholder="输入用户游戏ID" v-model="searchVal">
        <input v-else class="ipt" type="text" placeholder="输入下级代理名称或手机号" v-model="searchVal">
      </div>
      <button class="btn query-btn" @click="fn_search(searchVal)">查询</button>
      <button class="btn reset-btn" onclick="location.reload()">重置</button>
    </div>

    <template v-if="nodata">
      <p class="nodata">暂无数据</p>
    </template>
        
    <template v-else>
      <div class="junior-list">
        <ul>
          <li class="junior-item" v-for="item in juniorData">
              <ul class="datalist" v-if="isActive==='d'">
                <li class="item">
                  <div>
                    <p class="name">{{ item.name }}</p>
                    <p class="lab" >ID:{{ item.userid }}</p>
                  </div>
                </li>
                <li class="item">
                  <div>
                    <p>{{ item.money }}</p>
                    <p class="lab">服务费贡献(元)</p>
                  </div>
                </li>
                <li class="item">
                  <div>
                    <p class="date">{{ item.statday }}</p>
                    <p class="lab">邀请时间</p>
                  </div>
                </li>
                <li class="item">
                  <div>
                    <a class="checkDet" :href=" 'juniorDetails.html?userid=' + item.userid ">查看详情</a>
                  </div>
                </li>
              </ul>
              <ul class="datalist" v-else>
                <li class="item">
                  <div>
                    <p class="name">{{ item.name }}</p>
                    <p class="lab" >ID:{{ item.agent_id }}</p>
                  </div>
                </li>
                <li class="item">
                  <div>
                    <p>{{ item.money }}</p>
                    <p class="lab">流水(元)</p>
                  </div>
                </li>
                <li class="item">
                  <div>
                    <p>{{ item.income }}</p>
                    <p class="lab">总收益(元)</p>
                  </div>
                </li>
                <li class="item">
                  <div>
                    <a class="checkDet" :href=" 'juniorDetails.html?agent_id=' + item.agent_id ">查看详情</a>
                  </div>
                </li>
              </ul>
          </li>
        </ul>
      </div>
    </template>
    <p class="nodata">{{errmsg}}</p>

    <!--加载动画-->
    <div class="loading" v-show="showLoading">
      <div class="sk-circle">
        <div class="sk-circle1 sk-child"></div>
        <div class="sk-circle2 sk-child"></div>
        <div class="sk-circle3 sk-child"></div>
        <div class="sk-circle4 sk-child"></div>
        <div class="sk-circle5 sk-child"></div>
        <div class="sk-circle6 sk-child"></div>
        <div class="sk-circle7 sk-child"></div>
        <div class="sk-circle8 sk-child"></div>
        <div class="sk-circle9 sk-child"></div>
        <div class="sk-circle10 sk-child"></div>
        <div class="sk-circle11 sk-child"></div>
        <div class="sk-circle12 sk-child"></div>
      </div>
    </div>

    <div class="botspc"></div>
    <div class="footfix">
      <div class="ageFoot">
          <ul class="botnav">
            <li class="navitem">
              <a class="navlink" href="index.html">
                <i class="iconfont ico-nav">&#xe632;</i><br>收益
              </a>
            </li>
            <li class="navitem">
              <a class="navlink navcur" href="javascript:void(0)" onclick="location.reload()">
                <i class="iconfont ico-nav">&#xe602;</i><br>下级
              </a>
            </li>
            <li class="navitem">
              <a class="navlink" href="spread.html">
                <i class="iconfont ico-nav">&#xe60a;</i><br>推广
              </a>
            </li>
            <li class="navitem">
              <a class="navlink" href="personal.html">
                <i class="iconfont ico-nav">&#xe61c;</i><br>我的
              </a>
            </li>
          </ul>
      </div>
    </div>
  </div>


  <script src="env_path/path.js"></script>
  <script src="js/jquery-1.10.1.min.js"></script>
  <script src="js/layer_mobile/layer.js"></script>
  <script src="js/util.js"></script>
  <script src="js/vue.min.js"></script>

  <script>
    var vm = new Vue({
      el: '#app',
      data: {
        session: '',
        agent_id: '',
        sign_id: '',
        isActive: '',
        page: 1,
        showLoading: true,
        nodata: false,
        errmsg: '',
        pendCount: '',
        juniorData: [],
        flag: true,
        searchVal: '',
        allCount: ''
      },
      created: function(){
        this.session = get('session');
        this.agent_id = get('agent_id');
        this.sign_id = get('sign_id');
        
        if( this.sign_id=== '1' ){
          this.isActive = 'a';
        }
        if( this.sign_id=== '2' ){
          this.isActive = 'b';
        }
        if( this.sign_id=== '3' ){
          this.isActive = 'c';
        }
        if( this.sign_id=== '4' ){
          this.isActive = 'd';
        }
      },
      mounted: function () {
        this.checkJunior(this.isActive);
        window.addEventListener('scroll', this.handleScroll);
      },
      methods: {
        checkJunior: function(type, lev){
          var self = this;
          self.page = 1;
          if(self.isActive!==type){
            self.isActive = type;
            self.searchVal = '';
          }
          if(lev==2){
            self.isActive = 'f';
            self.searchVal = '';
          }
          ajaxGet(
            apipath + '/Api/LowerLevel/MyUserList',
            {
              session: self.session,
              agent_id: self.agent_id,
              p: self.page,
              type: self.isActive,
              search: self.searchVal,
              invite_level: lev
            },
            function(res){
              //console.log(res);
              if(res.error === 0 && res.data){
                self.pendCount = res.data.InviteCount;
                self.nodata = false;
                self.juniorData = res.data.user_list;
                self.allCount = res.data.allCount;
                if( res.data.user_list.length===10){
                  self.errmsg='上拉加载更多数据';
                  self.flag = true;
                }else if(res.data.user_list.length===0){
                  self.nodata = true;
                  self.errmsg='';
                  self.flag = false;
                }else{
                  self.errmsg='';
                  self.flag = false;
                }
                
              }else if (res.error === 0){
                self.nodata = true;
                self.flag = false;
                self.errmsg='';
              }else{
                layerMsg( res.msg );
                if(res.msg==='登录消息已过期'){
                  goLogin();
                }
              }

            },
            function(res){
              console.log(res);
            }
          )
        },
        fn_search: function(){
          if(this.searchVal!==''){
            this.checkJunior(this.isActive);
          }else{
            layerMsg('请输入查询内容！')
          }
        },
        getMoreJunior: function(){
          var self = this;
          ajaxGet(
            apipath + '/Api/LowerLevel/MyUserList',
            {
              session: self.session,
              agent_id: self.agent_id,
              p: self.page,
              type: self.isActive,
              search: self.searchVal
            },
            function(res){
              //console.log(res);
              if(res.error === 0 && res.data.user_list){
                self.nodata = false;
                for (var i = 0; i < res.data.user_list.length; i++) {
                  self.juniorData.push(res.data.user_list[i]);
                }
                if( res.data.user_list.length===10){
                  self.errmsg='上拉加载更多数据';
                }else{
                  self.flag = false;
                  self.errmsg='暂无更多数据';
                }
              }else if (res.error === 0){
                self.flag = false;
                self.errmsg='暂无更多数据';
              }else{
                layerMsg( res.msg );
                if(res.msg==='登录消息已过期'){
                  goLogin();
                }
              }

            },
            function(res){
              console.log(res);
            }
          )
         
        },
        handleScroll: function() {
    　　　 //判断滚动到底部
          if ($(window).scrollTop() >=$(document).height() - $(window).height() && this.flag) {
            this.showLoading = true;
            this.page++;
            this.getMoreJunior();
          }
        },
        addAvtive: function () {  
          var self = this;
          var url = window.location.href; //获取当前url            
          if (url.indexOf("?") > 0) {  
              url = url.split("?")[0];  
          }  
          location.href=url + setparam("active", self.isActive);  
        }     
      }
    })
  </script>

</body>

</html>